{% extends 'mail/base.html' %}

{% block title %} Discord verification for sunhacks {% endblock %}
{% block content %}
<tr>
  <td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
    <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;line-height:24px;text-align:left;color:#1C1B3E;">Discord Verification for sunhacks</div>
  </td>
</tr>
<tr>
	<td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
	<div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#1C1B3E;">Hi {{ name }},</div>
	</td>
</tr>
<tr>
	<td align="left" style="font-size:0px;padding:10px 25px;word-break:break-word;">
	<div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#1C1B3E;">You're almost checked into sunhacks! Your registration verification code is <code>{{ code }}</code>. Reply to our discord bot with <code>!verify {{ code }}</code> to get verified!</div>
	</td>
</tr>
<tr>
  <td align="left" style="font-size:0px;padding:10px 25px;padding-bottom:0;word-break:break-word;">
  <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#1C1B3E;">Happy hacking,</div>

  <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#1C1B3E;">sunhacks</div>
  </td>
</tr>
{% endblock %}
